.shop-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1450px;
    margin: 0 auto;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 216px 50px;
}

.order-container {
    background: rgba(255, 153, 0, 0.3);
    padding-left: 36px;
}

@media only screen and (max-width: 1370px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .order-container {
        max-width: 300px;
    }
}
