.header-nav {
    height: 80px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 14%;
    padding-right: 15%;
}

.header-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-family: Lato;
    padding-left: 36px;
}
.header-nav a:hover {
    color: orange;
    font-size: 18px;
}
